@tailwind base;
@tailwind components;
@tailwind utilities;

.react-international-phone-input {
  border: none !important;
  border-width: 0 !important;
  padding: 0.5rem !important;
  width: 100% !important;
  @apply !bg-gray-100;
}

.react-international-phone-country-selector-button {
  border: none !important;
  border-width: 0 !important;
  @apply !bg-gray-100 !outline-none;
}
